body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  background-color: #D34E24;
}

.item{
  position: relative;
  top: 100px;
  left: 30%;
  width: 500px;
}

.item img {
  position: absolute;
  left: 24px;
  width: 70%;
  height: 280px;
  z-index: 1;
  border-radius: 30px;
}

.item_in{
  position: absolute;
  top: 40px;
  background-color: #494A4E;
  width: 500px;
  border-radius: 50px;
}

.item_right{
  position: relative;
  width: 20%;
  height: 240px;
  border-top-right-radius: 50px;
  float: right;
}

.chart{
  background-color: black;
  width: 60%;
  border-radius: 10px;
  padding: 0 0 5% 15%;
  margin: 30% 0;
}

.title{
  margin-top: 10px;
  margin-left: 15%;
  margin-bottom: 0;
}

.date-cat {
  font-size: 10px;
  font-weight: 200;
  color: silver;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.item_below{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.item_below_left{
  width: 80%;
  float: left;
}

.item_below_right{
  width: 20%;
  float: right;
}

.item_below_right a {
    text-decoration: none !important;
}

.handle:after {
  content: '\2807';
  font-size: 50px;
  color: #5a5f73;
 }
